# build directories
/build/
/home/nilay/Code/AthenaK_magnetar_winds/athenak/Elliptica_ID_Reader/

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

# Mac OS metadata
.DS_Store
.vscode

# editor temp files
*~
*.swp

/home/nilay/Code/AthenaK_magnetar_winds/athenak/kokkos/core/src/OpenACC/Kokkos_OpenACC_ParallelFor_Team.hpp
