# build directories
build/

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

# Mac OS metadata
.DS_Store

# editor temp files
*~
*.swp

/home/nilay/Code/AthenaK_magnetar_winds/athenak/kokkos/core/src/OpenACC/Kokkos_OpenACC_ParallelFor_Team.hpp